
 
.card {
  padding: 2em;
}
 
.read-the-docs {
  color: #888;
}
 
.slick-dots {
  display: flex !important;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
.slick-dots li {
  position: relative;
  margin: 0 4px; 
  display: flex;
  align-items: center;
}
 
.testimonial-container .slick-dots li div {
  height: 0.55rem;
  width: 0.55rem;
  background-color: #D1D5DB; 
  border-radius: 0.375rem; 
  transition: background-color 0.3s, width 0.3s; 
}
 
.testimonial-container .slick-dots li.slick-active div {
   background-color: white;
  border: 1px solid white;  
   
  width: 1.5rem;
} 