
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
  position: relative;
  padding: 20px;
  padding-bottom: 60px; 
  background-color: #F8F8F8;
}

.carousel-slide {
  position: relative;
  padding: 10px;
}

.carousel-slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-content {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.carousel-title {
  font-size: 1.805rem;
  font-weight: 600;
  color: #05195F;
  font-family: 'Poppins', sans-serif;
  text-indent: left;
  padding-left: 10px;
  margin: 0;
  display: inline-block;
  width: 100%;
  position: relative;
}

.carousel-description {
  font-size: 1.25rem;
  color: #4A4A4A;
  margin: 10px 0;
}

.carousel-read-more {
  color: #DC2626;
  font-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}

.carousel-read-more:hover {
  text-decoration: underline;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.custom-arrow button {
  background-color: #A0AEC0;
  border: none;
  border-radius: 50%;
  padding: 10px;
}

.custom-arrow button:hover {
  background-color: #3182CE;
}

.custom-arrow svg {
  color: #FFFFFF;
  font-size: 1.5rem;
}
.active-dot {
  background-color: blue !important;
}

.inactive-dot {
  background-color: gray !important; 
}











